/* Applied when we disable system selection in Magic Magnifier mode */
html.cr-nonselectable, html.cr-nonselectable body, html.cr-nonselectable * {
  -webkit-user-select: none !important;
  user-select: none !important;
  -webkit-touch-callout: none !important;
}

/* (Optional) Cursor hint for trackpads/mice */
html.cr-nonselectable * {
  cursor: default !important;
}

