# Xcode
xcuserdata/
*.xcworkspace/xcuserdata/

# Build products
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# CocoaPods (if used)
Pods/

# macOS
.DS_Store

# Local testing data
local_test_data/
